.App {
  .tabs {
    display: flex;
    width: 100%;
    gap: 8px;
    padding: 8px;
    .tab {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      padding: 8px;
      border: 1px solid black;
      cursor: pointer;

      &.selected {
        background: black;
        color: white;
        cursor: auto;
      }
    }
  }
  .component {
    padding-left: 8px;
    .home {
      .currentCapitalBalance {
        .exchanges {
          text-align: center;
          display: flex;
          .labels {
            display: flex;
            flex-direction: column;
          }
          .exchange {
            border: 1px solid black;
            width: 420px;
            .accounts {
              display: flex;
              .account {
                display: flex;
                flex-direction: column;
                width: 210px;
              }
            }
          }
          .total {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
    .field {
      display: flex;
      justify-content: space-between;
      &.col {
        flex-direction: column;
      }
    }
    .algo-control {
      display: flex;
      justify-content: space-between;

      .field-group {
        display: flex;
        justify-content: space-around;
        margin-bottom: 16px;
      }
      .vol-algo {
        width: 33%;
        .field {
          margin-bottom: 16px;
        }
      }
      .order-book-depth {
        width: 66%;
      }
    }
    .intervention {
      .flex {
        display: flex;
        justify-content: space-between;
        .order-book {
          display: flex;
          flex-direction: column;
          padding: 16px;
          width: 66%;
        }
        .sweep-and-peg {
          width: 33%;
          padding: 16px;
          .field {
            margin-bottom: 16px;
          }
        }
      }
    }
  }
}
