.App {
  background: black;
  color: white;
  .tabs {
    display: flex;
    background: darkgrey;
    color: black;
    gap: 8px;
    padding: 8px;
    .tab {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      padding: 8px;
      border: 1px solid black;
      cursor: pointer;

      &.selected {
        background: black;
        color: white;
        cursor: auto;
      }
    }
  }
  .component {
    padding-left: 8px;
    .home {
      height: 100vh;
      .currentCapitalBalance {
        .accounts {
          text-align: center;
          display: flex;
          .loading {
            width: 100%;
            text-align: center;
          }
          .labels {
            display: flex;
            flex-direction: column;
            b {
              width: 200px;
              text-align: right;
              padding: 4px;
            }
          }
          .account {
            border: 1px solid white;
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            span {
              padding: 4px;
            }
          }
          .total {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
    .field {
      display: flex;
      justify-content: flex-start;
      &.col {
        flex-direction: column;

        span {
          height: 42px;
        }
      }
      &.gap {
        gap: 8px;

        .grow {
          flex-grow: 1;
        }
      }
      .validation {
        color: red;
      }
    }
    .algo-control {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .fixed-buttons {
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        height: 69px;
        margin: 8px;

        .start-algo {
          background: powderblue;
        }
        .stop-algo {
          background: wheat;
        }
      }

      .field {
        &.highlighted {
          background: lightblue;
          color: blue;
        }
      }
      .field-group {
        display: flex;
        justify-content: flex-start;
        gap: 25px;
        margin-bottom: 8px;
        padding: 8px;
        border: 1px solid white;
        div {
          width: 20%;
        }
      }
      .vol-algo {
        width: 100%;
        .field {
          margin-bottom: 16px;
        }
      }
      .order-book-depth {
        width: 100%;
      }
    }
    .intervention {
      .flex {
        display: flex;
        justify-content: space-between;
        .range-controls {
          display: flex;
          justify-content: space-between;
          .field.col {
            padding: 8px;
          }
        }
        .order-book {
          display: flex;
          flex-direction: column;
          padding: 16px;
          width: 66%;
          gap: 8px;
          .stop-algo {
            margin-bottom: 16px;
          }
          .spot-price {
            text-align: center;
            font-size: 20px;
            margin-bottom: 16px;
          }
          .deviation {
            width: 230px;
          }
          .price {
            width: 242px;
          }
          .supply {
            width: 142px;
            text-align: right;
            .subheader {
              margin-bottom: 16px;
            }
            &.cancel-btn {
              height: 69px;
              font-size: 16px;
              font-weight: 600;
            }
          }
          .headers {
            display: flex;
            justify-content: space-between;
            .header {
              &.col {
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
              }
            }
          }
          .range-controls {
            .field.col {
              &.active {
                color: blue;
                background: lightblue;
              }
            }
          }
          .order {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 69px;
            border: 1px solid black;
            border-radius: 8px;
            padding: 0 8px;
            &.ask {
              background: darkred;
            }
            &.bid {
              background: darkblue;
            }
            &.selected {
              border: 3px solid lightblue;
            }
          }
        }
        .sweep-and-peg {
          width: 33%;
          padding: 16px;

          .info {
            display: flex;
            flex-direction: column;
            margin-bottom: 16px;

            .inforow {
              display: flex;
              justify-content: space-between;

              span {
                width: 20%;

                &.account {
                  width: 27%;
                }
                &.coin {
                  width: 13%;
                }
              }
            }
          }

          .field {
            margin-bottom: 16px;
          }
        }
      }
    }
  }
}
